* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* serie di display:none */
.none {
    display: none;
}

/* class flex */
.flex {
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #000000;
    width: 15vw;
    padding: 1rem;
}

ul img {
    width: 20px;
}