* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

ul {
    list-style-type: none;
}

/* serie di display:none */
.none {
    display: none;
}

/* class flex */
.flex {
    display: flex;
}

.nav-padding {
    padding: 0 1rem;
}

/* nav bar */
nav {
    background-color: #000000;
    width: 180px;
    height: calc(100vh - 80px);
}

img[alt=logo] {
    margin: 0.5rem 0;
    width: 80%;
}

img[alt=home],
img[alt=search],
img[alt=libreria] {
    height: 80%;
    margin-right: 0.5rem;
}

.border {
    border-left: #adff2f 3px solid;
    padding: 0 calc(1rem - 3px);
}

.g-style {
    color: #6a6a6a;
    font-size: 0.8rem;
}

nav h3 {
    text-transform: uppercase;
    color: white;
    font-size: 0.9rem;
}

nav section:first-of-type {
    height: 100px;
}

.type-select>div {
    height: calc((100% / 3) - 0.3rem);
    align-items: center;
}

.type-select {
    flex-direction: column;
    justify-content: space-evenly;
}

nav i {
    font-size: 30px;
    margin-right: 5px;
}

li:has(> i) {
    align-items: center;
}

img[alt=download] {
    width: 15px;
    margin-right: 0.5rem;
    vertical-align: middle;
}

img[alt=profile] {
    background-color: #808080;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    vertical-align: middle;
}

.playlist {
    flex-direction: column;
    justify-content: space-between;
    height: calc((100vh - 80px) - 156.5px);
}

hr {
    margin: 0.8rem 0;
}

.profile {
    color: white;
    font-weight: 700;
    padding-bottom: 0.5rem;
}










footer {
    height: 80px;
    background-color: #282828;
}